<form>
<div class="container">
<div class="form-inline row">
  <div class="col-2">
      <label for="siteSelect">Sites</label>
      <select class="form-control form-inline" id="siteSelect">
        <option>Moon Campus</option>
        <option>Earth Campus</option>
      </select>
    </div>
    <div class="col-2">
      <label for="subnetName">Subnet Name</label>
        <input class="form-control form-inline" type="text" id="subnetName">
    </div>
</div>
<div class="form-inline row">
  <div class="col-2">
    <label for="subnetIpAdress">Subnet Ip Adress</label>
      <input class="form-control" type="text" id="subnetIpAdress">
  </div>
  <div class="col-2">
    <label for="subnetMaskBits">Subnet Mask Bits</label>
      <input class="form-control" type="number" id="subnetMaskBits">
  </div>
</div>
<div class="form-inline row">
  <div class="form-group col-2">
    <label for="vlanNumber">VLAN Number</label>
      <input class="form-control" type="number" id="vlanNumber">
  </div>
  <div class="form-group col-2">
    <label for="leaseTime">Lease Time</label>
      <input class="form-control" type="time" id="leaseTime">
  </div>
</div>
<div class="row">
  <div class="form-group col">
    <label for="subnetNotes">Notes</label>
      <input class="form-control" type="text" id="subnetNotes">
  </div>
</div>

  <button class="btn btn-primary" type="submit">Save Subnet</button>
</form>