	<div>
	<input type="text" id="searchText" class="col" ng-change="$ctrl.$rootScope.search($ctrl.$rootScope.searchText)" ng-model="$ctrl.$rootScope.searchText">
	<span ng-repeat="site in $ctrl.$rootScope.sites">
	<input type="checkbox" ng-model="$ctrl.filter[site.id]" ng-value="site.id" class="filterbox">{{site.name}}</input><br /></span>
	</div>
	<!-- <div class="col-9">
		<table class="data" >
		  <tr>
		    <th>Entry Header 1</th>
		    <th>Entry Header 2</th>
		    <th>Entry Header 3</th>
		    <th>Entry Header 4</th>
		  </tr>
		  <tr ng-repeat="site in $ctrl.$rootScope.sites | filter: $ctrl.searchText | filter:$ctrl.filterByid">
		  	<td>{{site.name}}</td>
		  	<td>{{site.site_contact}}</td>
		  	<td>{{site.address}}</td>
		  	<td>{{site.abbreviation}}</td>
		  </tr>
	</div> -->
	<!-- </table> -->
	
