<div class="container-fluid highz">
	<div class="row">
		<div class="col-6">
			<input type="text" id="searchText" class="col" placeholder="Keyword Search..." ng-change="$ctrl.$rootScope.search($ctrl.$rootScope.searchText)" ng-model="$ctrl.$rootScope.searchText">
		</div>
		<div class="col-3">
			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Site Filter</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<span ng-repeat="site in $ctrl.$rootScope.sites" class="dropdown-item">
						<input type="checkbox" value="site.id" class="filterbox" ng-checked="site.checked" ng-init="$ctrl.$rootScope.preselect(site.id, site); $ctrl.$rootScope.prefilter()" ng-click="$ctrl.$rootScope.checkit(site.id); $ctrl.$rootScope.firstCheck(site.id, site)">
						{{site.name}}<br />
					</span> 
				</div>
			</div>
		</div>
	</div>
</div>