<form id="viewEquipment" name="viewEquipmentForm">
<div class="container main-center">
  <h1>View Equipment</h1>   
    <div class="form-group">
      <label for="editEquipmentSubnet">Subnet ID</label>
        <input class="form-control" type="text" value="{{$ctrl.$rootScope.equipment.subnet_id}}" id="editEquipmentSubnet" disabled="">
    </div>
    <div class="form-group">
      <label for="editEquipmentType">Equipment Type</label>
        <input class="form-control" type="text" value="{{$ctrl.$rootScope.equipment.equipment_type_id}}" id="editEquipmentType" disabled="">
    </div>
    <div class="form-group">
      <label for="editEquipmentName">Equipment Name</label>
        <input class="form-control" type="text" value="{{$ctrl.$rootScope.equipment.name}}" id="editEquipmentName" disabled="">
    </div>
    <div class="form-group">
      <label for="editHostName">Host Name</label>
        <input class="form-control" type="text" value="{{$ctrl.$rootScope.equipment.host_name}}" id="editHostName" disabled="">
    </div>
    <div class="form-group">
      <label for="editRoom_Id">Room ID</label>
        <input class="form-control" type="number" value="{{$ctrl.$rootScope.equipment.room_id}}" id="editRoom_Id" disabled=""> 
    </div>
     <div class="form-group">
      <label for="editSerialNumber">Serial Number</label>
        <input class="form-control" type="text" value="{{$ctrl.$rootScope.equipment.serial_number}}" id="editSerialNumber" disabled="">
    </div>
     <div class="form-group">
      <label for="editMacAddress">Mac Address</label>
        <input class="form-control" type="text" value="{{$ctrl.$rootScope.equipment.mac_address}}" id="editMacAddress" disabled="">
    </div>
    <div class="form-group">
      <label for="editEquipaddress">Equipment Ip Address</label>
        <input class="form-control" type="text" value="{{$ctrl.$rootScope.equipment.ip_address}}" id="editEquipaddress" disabled="">
    </div>
    <div class="form-group">
      <label for="editPrinterServer">Printer Server</label>
        <input class="form-control" type="text" value="{{$ctrl.$rootScope.equipment.printer_server}}" id="editPrinterServer" disabled="">
    </div> 
    <div class="form-group">
      <label for="editDriverInput">Driver</label>
        <input class="form-control" type="text" value="{{$ctrl.$rootScope.equipment.driver}}" id="editDriverInput" disabled="">
    </div>
     <div class="form-group">
      <label for="editPrinterName">Printer Name</label>
        <input class="form-control" type="text" value="{{$ctrl.$rootScope.equipment.printer_name}}" id="editPrinterName" disabled="">
    </div>
    <div class="form-group">
      <label for="editShareName">Share Name</label>
        <input class="form-control" type="text" value="{{$ctrl.$rootScope.equipment.share_name}}" id="editShareName" disabled="">
    </div>
    <div class="form-group">
      <label for="editShareComment">Share Comment</label>
        <input class="form-control" type="text" value="{{$ctrl.$rootScope.equipment.share_comment}}" id="editShareComment" disabled="">
    </div>

    <div class="form-group">
      <label for="editModelType">Model Type</label>
        <input class="form-control" type="text" value="{{$ctrl.$rootScope.equipment.model}}" id="editModelType" disabled="">
    </div>
     <div class="form-group">
      <label for="editEquipmentNotes">Notes</label>
        <textarea class="form-control" type="textarea" value="" id="editEquipmentNotes"  disabled=""></textarea>
    </div>
    <!-- <div class="clearfix">
      <a href="/#!/editequipment"><button class="btn btn-primary">Edit Equipment</button></a>
      <a href="/#!/equipment"><button class="btn btn-danger">Cancel</button></a>
    </div> -->
    <div class="clearfix">
      <a href="#!/equipment"><button class="btn btn-danger">Cancel</button></a>
      <a href="/#!/editequipment"><button class="btn btn-primary">Edit Equipment</button></a>
    </div>
</div>
</form>