
<ng-view>

<a href="/"  ng-click="$ctrl.$rootScope.dashboard = true"><button><i class="fa fa-close fa-3x"></i></button></a>

<form>
<div class="container" >
<div class="form-inline">
  <div >
      <label for="siteSelect">Sites</label>
      <select class="form-control form-inline mr-2" id="siteSelect" required>
        <option></option>
        <option>Moon Campus</option>
        <option>Earth Campus</option>
      </select>
    </div>
    <div >
      <label for="subnetName">Subnet Name</label>
        <input class="form-control form-inline" type="text" id="subnetName" required>
    </div>
</div>
<div >
  <div >
    <label for="subnetIpAdress">Subnet Ip Adress</label>
      <input class="form-control" type="text" id="subnetIpAdress" required>
  </div>
  <div >
    <label for="subnetMaskBits">Subnet Mask Bits</label>
      <input class="form-control" type="number" id="subnetMaskBits" required>
  </div>
</div>
<div >
  <div >
    <label for="vlanNumber">VLAN Number</label>
      <input class="form-control" type="number" id="vlanNumber">
  </div>
  <div >
    <label for="leaseTime">Lease Time</label>
      <input class="form-control" type="time" id="leaseTime">
  </div>
</div>
<div >
  <div >
    <label for="subnetNotes">Notes</label>
      <input class="form-control" type="text" id="subnetNotes">
  </div>
</div>

  <button class="btn btn-primary" type="submit">Save Subnet</button></form>
</div>
</form>