

<form id="editsite">
<h1>Edit Site</h1>
  <div class="form-group">
    <label for="editSiteName">Site Name</label>
      <input class="form-control" type="text" value="{{$ctrl.$rootScope.site.name}}" id="editSiteName" required>
  </div>
   <div class="form-group">
    <label for="editSiteAbbreviation">Site Abbreviation</label>
      <input class="form-control" type="text" value="{{$ctrl.$rootScope.site.abbreviation}}" id="editSiteAbbreviation" required>
  </div>
   <div class="form-group">
    <label for="editSiteAddress">Site Address</label>
      <input class="form-control" type="text" value="{{$ctrl.$rootScope.site.address}}" id="editSiteAddress" required>
  </div>
   <div class="form-group">
    <label for="editSiteContact">Site Contact</label>
      <input class="form-control" type="text" value="{{$ctrl.$rootScope.site.site_contact}}" id="editSiteContact" >
  </div>
   <div class="form-group">
    <label for="editSiteNotes">Notes</label>
      <textarea class="form-control" type="textarea" value="" id="editSiteNotes" ></textarea>
  </div>
  <a href="/#!/sites"><button ng-click='$ctrl.$rootScope.updateSite($ctrl.$rootScope.site.id);'>Save Changes</button></a>
  <a href="/#!/sites"><button>Cancel</button></a>


</form>