
<a href="/#!/" ng-click="$ctrl.$rootScope.dashboard = true"><button><i class="fa fa-close fa-3x"></i></button></a>
<form id="editsite">
<h1>Edit Site</h1>
  <div class="form-group">
    <label for="editSiteName">Site Name</label>
      <input class="form-control" type="text" value="" id="editSiteName" required>
  </div>
   <div class="form-group">
    <label for="editSiteAbbreviation">Site Abbreviation</label>
      <input class="form-control" type="text" value="" id="editSiteAbbreviation" required>
  </div>
   <div class="form-group">
    <label for="editSiteAddress">Site Address</label>
      <input class="form-control" type="text" value="" id="editSiteAddress" required>
  </div>
   <div class="form-group">
    <label for="editSiteContact">Site Contact</label>
      <input class="form-control" type="text" value="" id="editSiteContact" >
  </div>
   <div class="form-group">
    <label for="editSiteNotes">Notes</label>
      <input class="form-control" type="textarea" value="" id="editSiteNotes" >
  </div>
  <button ng-click=''>Submit Site</button>


</form>