<form id="viewSite" name="viewSite">
<div class="container main-center">
<h1>View Site</h1>
  <div class="form-group">
    <label for="editSiteName">Site Name</label>
      <input class="form-control" type="text" value="{{$ctrl.$rootScope.site.name}}" id="editSiteName" disabled="">
  </div>
   <div class="form-group">
    <label for="editSiteAbbreviation">Site Abbreviation</label>
      <input class="form-control" type="text" value="{{$ctrl.$rootScope.site.abbreviation}}" id="editSiteAbbreviation" disabled="">
  </div>
   <div class="form-group">
    <label for="editSiteAddress">Site Address</label>
      <input class="form-control" type="text" value="{{$ctrl.$rootScope.site.address}}" id="editSiteAddress"  disabled="">
  </div>
   <div class="form-group">
    <label for="editSiteContact">Site Contact</label>
      <input class="form-control" type="text" value="{{$ctrl.$rootScope.site.site_contact}}" id="editSiteContact" disabled="" >
  </div>
   <div class="form-group">
    <label for="editSiteNotes">Notes</label>
      <textarea class="form-control" type="textarea" value="" id="editSiteNotes"  disabled=""></textarea>
  </div>
<div class="clearfix">
    <a href="/#!/sites"><button class="btn btn-danger">Cancel</button></a>
    <a href="/#!/editsite"><button class="btn btn-primary">Edit Site</button></a>
  </div>
</div>
</form>