<ul class="nav  navbar-light p-2 mb-2 topNav">
<div class="col">
    <div class="row">

      <li class="nav-item">
          <a class="navbar-brand ml-2" href="/"><img id="navlogo" src="../../app/assets/images/ipamlogowhite.png" alt="logo"></a>
      </li>
     
      <li id="tabs" class="nav-item">
          <a class="nav-link disabled" href="/">Manage Users</a>
      </li>

        <li id="tabs" class="nav-item some" >
          <a class="nav-link disabled" href="/#!/login">Logout</a>
      </li>

  </div>
</div>

</ul>




