<ul class="nav nav-tabs  navbar-light p-2 topNav container-fluid">
  <li class="nav-item">
    <a class="navbar-brand" href="/"><img id="navlogo" src="../../app/assets/images/ipamlogowhite.png" alt="logo"></a>
  </li>
  <li id="tabs" class="nav-item">
    <a class="nav-link" href="/">Dashboard</a>
  </li>
  <li id="tabs" class="nav-item">
    <a class="nav-link disabled" href="/">Manage Users</a>
  </li>
  <li id="tabs" class="nav-item">
    <a class="nav-link" href="/#!/login">Logout</a>
  </li>
</ul>


