@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

.topNav {
	background: #3F86BA;
}

.topNav a {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600px;
}

