<div class="container-fluid">
  <div>
    <ul class="nav nav-tabs"> <!-- Tabs -->
      <li class="nav-item">
        <a class="nav-link" id="sitesTab" value="sites" href="#!/sites">Sites</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="subnetsTab" href="#!/subnets">Subnets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" id="equipmentTab" href="#!/equipment">Equipment</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <sidebar class="col-9"></sidebar>
    <a href="/#!/equipmentform" class="col-3"><button id="addEquipment"> Add Equipment</button></a>
  </div>
  <div class="row">
    <div class="col">
    <table class="table data lowz">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Hostname</th>
          <th>Room Number</th>
          <th>IP Address</th>
          <th>MAC Address</th>
          <th>MAB</th>
          <th>Print Server</th>
          <th>Driver</th>
          <th>Printer Name</th>
          <th>Share Name</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="equipment in $ctrl.$rootScope.equipments | filter: $ctrl.$rootScope.searchText | filter:$ctrl.$rootScope.idFilter">
          <td class="pr-2">{{equipment.name}}</td>
          <td class="pr-2">{{equipment.type[0].name}}</td>
          <td class="pr-2">{{equipment.host_name}}</td>
          <td class="pr-2">ROOM NAME</td>
          <td class="pr-2">{{equipment.ip_address}}</td>
          <td class="pr-2">{{equipment.mac_address}}</td>
          <td class="pr-2">{{equipment.mab}}</td>
          <td class="pr-2">{{equipment.printer_server}}</td>
          <td class="pr-2">{{equipment.driver}}</td>
          <td class="pr-2">{{equipment.printer_name}}</td>
          <td class="pr-2">{{equipment.share_name}}</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>


