<form id="viewSubnet" name="viewSubnet">
<h1>View Subnet</h1>
<div class="containte main-center">
  <div class="form-group">
    <label for="editSubnetName">Subnet Name</label>
      <input class="form-control" type="text" value="{{$ctrl.$rootScope.subnet.name}}" id="editSiteName" disabled="">
  </div>
   <div class="form-group">
    <label for="editSubnetSiteId">Site Id</label>
      <input class="form-control" type="text" value="{{$ctrl.$rootScope.subnet.site_id}}" id="editSubnetSiteId" disabled="">
  </div>
   <div class="form-group">
    <label for="editSubnetIpAddress">Subnet Ip Address</label>
      <input class="form-control" type="text" value="{{$ctrl.$rootScope.subnet.subnet_address}}" id="editSubnetIpAddress"  disabled="">
  </div>
   <div class="form-group">
    <label for="editSubnetMaskBits">Subnet Mask Bits</label>
      <input class="form-control" type="text" value="{{$ctrl.$rootScope.subnet.mask_bits}}" id="editSubnetMaskBits" disabled="" >
  </div>
  <div class="form-group">
    <label for="editSubnetVlan">Subnet vLan</label>
      <input class="form-control" type="number" value="{{$ctrl.$rootScope.subnet.vLan}}" id="editSubnetVlan" disabled="">
  </div>
   <div class="form-group">
    <label for="editSiteNotes">Notes</label>
      <textarea class="form-control" type="textarea" value="" id="editSiteNotes"  disabled=""></textarea>
  </div>
  <a href="/#!/editsubnet"><button ng-click='$ctrl.$rootScope.updateSubnet($ctrl.$rootScope.subnet.id);'>Edit Subnets</button></a>
  <a href="/#!/subnets"><button>Cancel</button></a>
  </div>
</form>