
<div id="whole-page" class="container-fluid">
	<div>
		<ul class="nav nav-tabs"> <!-- Tabs -->
		  <li class="nav-item">
		    <a class="nav-link active" id="sitesTab" value="sites" href="#!/sites">Sites</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="subnetsTab" href="#!/subnets">Subnets</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="equipmentTab" href="#!/equipment">Equipment</a>
		  </li>
		</ul>
	</div>
	<div class="row">
		<div id="card-backdrop" class="col-4" ng-repeat="site in $ctrl.$rootScope.sites">
			<a class="nav-link" id="subnetsTab" href="/#!/viewsite" ng-click="$ctrl.$rootScope.getSite(site.id)">
			<div id="card" class="card card-block" >
				<div id="title" class="card-title">
						<h4 id="name" class="col-8">{{site.name}}</h4>
						<h5 id="abbr" class="col-4">{{site.abbreviation}}</h5>
				</div>
				</a>
				<ul class="list-group list-group-flush">
					<li id="address" class="list-group-item">Address: {{site.address}} </li>
					<li id="edit-site" class="list-group-item btn"><a href='/#!/subnets' ng-click="$ctrl.$rootScope.currentSite(site.id)">View Subnets</a></li>
				</ul>
			</div>
		</div>

		<div class="col-4">
			<a href='/#!/sitesform' class="text-center">
			<div id="add-site" class="card card-block">
				<div class="card-title">
					<div class="row">
						<h4 class="col text-center">Add New Site</h4>
					</div>
				</div>
				<div class="row">
					<div class="col text-center">
						<i class="fa fa-plus fa-5x text-center"></i>
					</div>
				</div>
			</div>
			</a>
		</div>



	</div> <!-- end main row -->


</div> <!-- end container -->

