
<div class="container">
	<div class="row">
		<div  class="col-4" ng-repeat="site in $ctrl.$rootScope.sites">
			<div class="card card-block" >
				<div class="card-title">
						<h4 class="col-8" ng-click="">{{site.name}}</h4>
						<h5 class="col-4">{{site.abbreviation}}</h5>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Address: {{site.address}} </li>
					<li class="list-group-item btn"><a href='/#!/editsite' ng-click="$ctrl.$rootScope.getSite(site.id) ">Edit Site</a></li>	
				</ul>
			</div>
		</div>

		<div class="col-4">
			<a href='/#!/sitesform' class="text-center">
			<div class="card card-block">
				<div class="card-title">
					<div class="row">
						<h4 class="col text-center">Add New Site</h4>
					</div>
				</div>
				<div class="row">
					<div class="col text-center">
						<i class="fa fa-plus fa-5x text-center"></i>
					</div>
				</div>
			</div>
			</a>
		</div>



	</div> <!-- end main row -->


</div> <!-- end container -->

