<form>
  <div class="form-group">
    <label for="siteName">Site Name</label>
      <input class="form-control" type="text" id="siteName" required>
  </div>
   <div class="form-group">
    <label for="siteAbbreviation">Site Abbreviation</label>
      <input class="form-control" type="text" id="siteAbbreviation" required>
  </div>
   <div class="form-group">
    <label for="siteAddress">Site Address</label>
      <input class="form-control" type="text" id="siteAddress" required>
  </div>
   <div class="form-group">
    <label for="siteContact">Site Contact</label>
      <input class="form-control" type="text" id="siteContact" >
  </div>
   <div class="form-group">
    <label for="siteNotes">Notes</label>
      <input class="form-control" type="textarea" id="siteNotes" >
  </div>



</form>